.header-area {
  width: 100%;
  height: 67px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 85px;

  @media only screen and (min-width: 1025px) and (max-width: 1600px) {
    padding: 0 30px;
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 0 16px;
  }

  @media screen and (max-width: 768px) {
    height: 40px;
    padding: 0px;
  }

  .header-wrap {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      height: 40px;
    }

    .logo {
      h2 {
        font-size: 36px;
        font-weight: 700;
        color: $white-ff;
        margin: 0; 
      }
    }

    .menu {
      position: relative;
      width: 100%;
      display: flex;
      gap: 20px;
      justify-content: end;

      @media screen and (max-width: 1024px) {
        justify-content: flex-start;
        flex-direction: column;
        text-align: right;
        padding: 0 30px;
        position: absolute;
        top: 0;
        right: -300px;
        background: #fff;
        height: 100vh;
        padding-top: 50px;
        transition: 0.5s;
        width: 300px;

        &.mobile-menu {
          right: 0;
          padding-top: 24px;
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
        padding-right: 24px;
      }

      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0px;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        @media screen and (max-width: 1024px) {
          flex-direction: column;
          display: block;
          margin-top: 50px;
        }

        li {
          margin-left: 32px;

          @media screen and (max-width: 1024px) {
            margin-bottom: 30px;
          }

          a {
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            color: $white-ff;
            transition: 0.3s;
            display: block;
            font-family: $default-font;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 1px;
              background-color: $white-ff;
              display: block;
              position: absolute;
              left: 0;
              bottom: -1px;
              transition: 0.3s;
              transform: scaleX(0);
              transform-origin: left;
            }

            &:hover {
              &::after {
                transform: scaleX(1);
              }
            }

            &.active {
              color: $white-ff;
              border-bottom: 1px solid $white-ff;

              &:hover {
                &::after {
                  display: none;
                }
              }
            }

            @media only screen and (min-width: 1025px) and (max-width: 1140px) {
              font-size: 16px;
              line-height: 20px;
              font-weight: 400;
            }

            @media only screen and (min-width: 769px) and (max-width: 1024px) {
              color: $green-26;

              &.active {
                color: $green-89;
                border-bottom: none;
              }

              &:hover {
                &::after {
                  display: none;
                }
              }
            }

            @media screen and (max-width: 768px) {
              text-align: right;
              color: $green-26;

              &.active {
                color: $green-89;
                border-bottom: none;
              }

              &:hover {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .hdr-btn-wrap {
        display: flex;
        align-items: center;
        gap: 12px;

        @media (max-width:1024px) {
          flex-direction: column;
          align-items: end;
        }

        .carrer-btn {
          background: $blue-e3;
          border: 1px solid $blue-e6;
          padding: 5px 18px;
          color: $white-ff;
          border-radius: 8px;
          transition: 0.3s;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          font-family: $heading-font;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          transition: all 0.4s;

          &.mar-lft {
            margin-left: 30px;

            @media only screen and (min-width: 769px) and (max-width: 1024px) {
              margin-left: 35px;
            }
          }

          &:nth-of-type(1):hover {
            border: 1px solid $white-ff;
            color: $white-ff;
            transition: 0.4s;
          }

          &:nth-of-type(2) {
            border: 1px solid $white-ff;
            background: transparent;

            &:hover {
              background: $blue-cc;
              border: 1px solid $blue-e6;
              transition: 0.4s;

              svg {
                path {
                  stroke: $white-ff;
                }
              }
            }

            @media screen and (max-width: 1024px) {
              border: 1px solid $blue-e6;
              color: $blue-e6;
              margin-top: 15px;

              svg {
                path {
                  stroke: $blue-e6;
                }
              }
            }
          }
        }
      }

      .menu-cross {
        display: none;

        @media screen and (max-width: 1024px) {
          display: flex;
          justify-content: flex-end;
          padding-right: 0px;
        }

        img {
          @media screen and (max-width: 768px) {
            width: 17px;
            height: 17px;
          }
        }
      }
    }

    .mobile-menu-icon {
      display: none;

      @media screen and (max-width: 1024px) {
        display: block;
      }

      .white_icon {
        display: block;
      }

      .black_icon {
        display: none;
      }
    }
  }

  &.active {
    background-color: $white-ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);

    .header-wrap {
      .logo {
        h2{
          color: $blue-e3;
        }
      }

      .menu {
        ul {
          li {
            @media screen and (max-width: 1220px) {
              margin-left: 14px;
            }

            a {
              color: $blue-e3;

              &:hover {
                &::after {
                  background-color: $blue-e3;
                }
              }

              &.active {
                border-bottom: 1px solid $blue-e3;
              }

              @media screen and (max-width: 1106px) {
                font-size: 15px;
              }
            }
          }
        }

        .carrer-btn {
          &:nth-of-type(2) {
            border: 1px solid $blue-e6;
            background: transparent;
            color: $blue-e6;

            svg {
              path {
                stroke: $blue-e6;
              }
            }

            &:hover {
              background: $blue-e3;
              border: 1px solid $blue-e6;
              color: $white-ff;

              svg {
                path {
                  stroke: $white-ff;
                }
              }
            }
          }
        }

        .lang-list {
          .list-item {
            .list-link {
              color: $grey-66;

              &::after {
                background: $grey-66;
              }

              &.active {
                color: $blue-e3;
              }
            }
          }
        }
      }

      .mobile-menu-icon {
        display: none;

        @media screen and (max-width: 1024px) {
          display: block;
        }

        .white_icon {
          display: none;
        }

        .black_icon {
          display: block;
        }
      }
    }
  }

  &.privacy-header {
    .header-wrap {
      .logo {
        .logo-icon {
          display: none;
        }

        .full-logo {
          display: block;
        }
      }

      .menu {
        ul {
          li {
            a {
              color: $green-26;
            }
          }
        }

        .carrer-btn {
          color: $green-bd;

          &:hover {
            color: $white-ff;
          }
        }
      }
    }

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
}