$default-font: 'Roboto', sans-serif;
$primary-font: 'lato', sans-serif;
$heading-font: 'Open Sans', sans-serif;


//PRIMARY COLORS

$black-00: #000000;
$black-18:#181818;
$black-11:#111111;
$black-33:#333333;
$black-1c:#1C251A;
$black-4c:#4c4c4c;
$black-006:#000600;

$bgFA:#FAFCFD;
$bgED:#EDECFD;


$grey-82:#828282;
$grey-f4:#F4FAED;
$grey-e6: #E6F3D4;
$grey-66: #666666;
$grey-eo: #E0E0E0;
$grey-bd: #BDBDBD;
$grey-a4: #A4A4A4;
$grey-67: #676768;
$grey-cf: #CFCFCF;
$grey-de : #DEE2E6;

$white-ff: #ffffff;
$white-fa: #FAFAFA;
$white-f2: #F2F2F2;
$white-f5: #F5F5F5;
$white-fb: #FBfBfB;
$white-fffd: #FFFDF8;

// SECONDARY COLORS

$green-26:#264027;
$green-bd:#8DAC3D;
$green-89:#6966E9;
$green-8f:#8FA93D;
$green-9e: #A09FF0;

$blue-18:#189CC4;
$blue-ee:#EEF8FC;
$blue-65:#65BAD3;
$blue-aa:#AAD6E3;
$blue-d8:#D8EEF4;

// usa blue
$blue-cc:#3E27CC;
$blue-e3:#4740E3;
$blue-e6:#5754E6;
$blue-1f:#0E061F;
$blue-75: #120D75;
// pink 
 $pink-db:#FFD4DB;
 $pink-9f:#FD8A9F;
 $pink-f3:#F348AB;
//extra
$red-eb:#EB5757;
$yellow-FF:#FFD600;


//box shadow
$box-shadow-1: 0px 0px 3px rgba(197, 197, 197, 0.71);

